services:
  - type: web
    name: love-space-movies-api
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_VERSION
        value: 20
      - key: PUBLIC_BASE_URL
        sync: false
